@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*image of temple*@
    <img class="align-content-center" src="~/img/layton-utah-temple.jpg" /><br />
</div>
@*some temple info*@
<div class="text-md-left">
    <br /><br />
    <ul class="text-success font-weight-bold">General Tour Instructions:</ul>
    <li>
        Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
    </li>
    <li>Dress casual, except on Sunday</li><br />
    <p class="font-weight-bold">Please call or text 801-628-4488 with questions or special requests.</p>
    @*sign-up button that will redirect them to sign-up page*@

    <button><a type="text/html" class="border-success" asp-controller="Home" asp-action="Sign_Up">Sign Up Here </a></button>
</div>